@model UpperToolsProject.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Cnpj
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataSituacao)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.DataSituacao
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoSituacao)
        </dt>
        <dd class="col-lg-10">
            @ViewBag.emp.MotivoSituacao
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Tipo
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Nome
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Telefone
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Situacao
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Porte)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Porte
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Abertura)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Abertura
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaturezaJuridica)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.NaturezaJuridica
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaAtualizacao)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.UltimaAtualizacao
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Status
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fantasia)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Fantasia
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Logradouro
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Numero
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Complemento
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Cep
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Bairro
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Municipio
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Uf
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Email
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Efr)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.Efr
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SituacaoEspecial)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.SituacaoEspecial
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataSituacaoEspecial)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.DataSituacaoEspecial
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CapitalSocial)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.emp.CapitalSocial
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
