@model UpperToolsProject.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSituacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSituacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoSituacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoSituacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NaturezaJuridica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NaturezaJuridica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaAtualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fantasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Efr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Efr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituacaoEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituacaoEspecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSituacaoEspecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSituacaoEspecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapitalSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapitalSocial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cnpj">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
