@model IEnumerable<UpperToolsProject.Models.Qsa>

@{
    ViewData["Title"] = "Details - Socios";
}

<h1>Informações</h1>

<table class="table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpresaCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qual)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpresaCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qual)
            </td>
        </tr>
        }
    </tbody>
</table>
    <a asp-action="BuscarCadastro">Voltar</a>

